vectorstore/** filter=lfs diff=lfs merge=lfs -text
bm25_index/** filter=lfs diff=lfs merge=lfs -text
*.sqlite3 filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
chroma*/** filter=lfs diff=lfs merge=lfs -text
vectorstore*/** filter=lfs diff=lfs merge=lfs -text
